
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basic</title>
</head>
<body>
    <div>
        <h1>Dobrodošao User</h1>
        @Html.ActionLink("Pocetna", "Index", "Dashboard")
    </div>
</body>
</html>
